<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel="stylesheet" type="text/css" href="index.css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--<div id="app">
{{ message }}  <br>
<input v-model="message"><br>
<button v-on:click="reverseMessage">Reverse Message</button>

</div>
<div id="app-7">

<ol>
    
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.

    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>--->

<div id="app-2">
	<div class="topnav" >
		<div class="container" >
        
      </div>
  </div>



<!--
	<div v-if="info !== null">
	<input v-model="message" v-on:keyup.enter="reverseMessage"><br>
	<button v-on:click="reverseMessage">Reverse Message</button><br>
<img  v-bind:src="'' + info.data.logo"/>-->

	<div id="Leftdiv" v-if="info">
		
	
		<table >
		  <tr>
		    <th>Domain</th>
		  </tr>
		  <tr v-for="item in info.data.rows">
		    <td>{{item}}</td>
		    
		  </tr>
		 
		</table>

	</div>
	
 <!--{{ info }}-->
</div>
</div>
  



<script>
/*	var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue! efren '
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
},
})

	Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})

var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { id: 0, text: 'Vegetables' },
      { id: 1, text: 'Cheese' },
      { id: 2, text: 'Whatever else humans are supposed to eat' }
    ]
  }
})*/

var app2 = new Vue({
  el: '#app-2',
  data () {
    return {
      info: null,
      message: 'truora.com'
    }
  },methods: {
    sendMessage: function () {
    	
       axios
      .get('http://localhost:3000/search//listsearch',{ useCredentails: true })
      .then(response => (this.info = response))
      


    }
},
  mounted () {
    
    axios
      .get('http://localhost:3000/search/listsearch',{ useCredentails: true })
      .then(response => (this.info = response))
  }
})


	
</script>